@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300&display=swap');

* {
    box-sizing: border-box;
}

a, button {
    transition: all .3s ease-in-out 
}

html {
    font-size: 10px;
    font-family: 'Noto Sans JP', sans-serif;
}

.bgc {
    background: url(../img/main.jpg) 0 0/cover no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
}

.cross {
    margin: auto;
    width: 700px;
    height: 400px;
    background: url(../img/nike-bgc.jpg) 0 0/cover;
    border-radius: 10px;
    overflow: hidden;
}

.cross__logo {
    padding: 20px;
}

.cross__select {
    display: flex;
}

.cross__img {
    padding: 50px 0 0 35px;
}

.cross__about {
    color: #e1e1e1;
    padding: 0 40px 0 70px;
}

.cross__about h1{
    line-height: 1.1;
    font-size: 2.4rem;
    font-weight: 300;
}

.cross__about p {
    line-height: 1.8;
    font-size: 1.4rem;
    font-weight: 100;
}